<h2>Enventos</h2>
<hr />

<form action="" class="form-inline">
  <div class="row">
    <div class="col-9">
      <div class="form-group mb-2">
        <input type="text" class="form-control" placeholder="buscar" />
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-success mb-2">Buscar</button>
    </div>
  </div>
</form>

<br>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
      <tr *ngFor="let evento of eventos">
        <td>{{evento.eventoId}}</td>
        <td>{{evento.imagemUrl}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento}}</td>
        <td>{{evento.qtdPessoas}}</td>
        <td>{{evento.lote}}</td>
        <td></td>
      </tr>
  </tbody>
</table>

<!--
<div *ngFor="let evento of eventos">
  <p><b>Tema: </b>{{evento.tema}}</p>
  <p><b>Local: </b>{{evento.local}}</p>
  <hr>
</div> -->
